body{
    margin: 0;
}
.contentContainer{
    position: absolute;
    display: block;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(51, 51, 51, 0.8);
    font: 20px sans-serif;
    color: #fff;
    text-align: center;
    padding: 55px 12px;
}

.date,.time{
    font: 38px 'Roboto Slab', serif;
}